<div>
    <h2>Grafieken</h2>
    <h3>Gemiddelde Prijs</h3>
    <div class="form-control" style="width: 150px;  margin-bottom:10px;">
    <select id="grafiek">
        <option value="0" selected>Processor</option>
        <option value="1">Voeding</option>
        <option value="2">Moederbord</option>
        <option value="3">Videokaart</option>
        <option value="4">Behuizing</option>
        <option value="5">Schijven</option>
    </select>
    </div>
    <img id ="image" src="/img/LineChartProcessoren.jpeg">

    <h3>Aantal Bezoekers</h3>
    <img src="/img/LineChartVisitor.jpeg">

</div>

<script src="/js/admin/dashboard_grafieken.js"></script>