<div class="col-sm-12">
	<h2>Dashboard Filteropties</h2>
	
	<div class="col-sm-6">
	<h3>Filteroptie toevoegen</h3>
		<form class="form" role="form">
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<select class="form-control categorie">
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<select class="form-control hoofdfilter" >
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<select class="form-control subfilter" >
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<input type="text" class="form-control filtername" placeholder="Filternaam"></input>
				</div>
			</div>
			<div class="col-sm-12">
				<button id="btn_add" class="btn btn-default">Voeg toe</button>
			</div>
		</form>
	</div>
	<div class="col-sm-6">
	<h3>Filteroptie verwijderen</h3>
		<form class="form" role="form">
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<select class="form-control categorie">
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<select class="form-control hoofdfilter" >
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-8 col-md-8 col-lg-8">
					<select class="form-control subfilter" >
					</select>
				</div>
			</div>
			<div class="col-sm-12">
				<button id="btn_delete"class="btn btn-default">Verwijder</button>
			</div>
		</form>
	</div>
	<div class="col-sm-12">
	<h3>Filteroptie wijzigen</h3>
		<form class="form" role="form">
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-4 col-md-4 col-lg-4">
					<select class="form-control categorie">
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-4 col-md-4 col-lg-4">
					<select class="form-control hoofdfilter" >
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-4 col-md-4 col-lg-4">
					<select class="form-control subfilter" >
					</select>
				</div>
			</div>
			<div class="col-sm-12" style="padding-left:0px !important">
				<div class="form-group col-sm-4 col-md-4 col-lg-4">
					<input type="text" class="form-control filtername" placeholder="Nieuwe filternaam"></input>
				</div>
			</div>
			<div class="col-sm-12">
				<button id="btn_update" class="btn btn-default">Wijzig</button>
			</div>
		</form>
	</div>

</div>
<script src="../../js/bootstrap.min.js"></script>
<script src="/js/admin/dashboard_filters.js"></script>