<div>
    <h2>Grafieken</h2>
    <h2>Gemiddelde Prijs</h2>
    <select id="grafiek">
        <option value="0" selected>ProcessorKoeler</option>
        <option value="1">Processor</option>
        <option value="2">Voeding</option>
        <option value="3">Moederbord</option>
        <option value="4">Geheugen</option>
        <option value="5">Videokaart</option>
        <option value="6">Behuizing</option>
        <option value="7">Schijven</option>
    </select>
    <img id ="image" src="/img/LineChartProcessorenCoolers.jpeg">

    <h2>Aantal Bezoekers</h2>
    <img src="/img/LineChartVisitor.jpeg">
</div>

<script src="/js/admin/dashboard_grafieken.js"></script>