<div>
	<h2>Systeem</h2>
	<div class="row">
		<div id="crawlercontainer">
			<h3>Crawler started</h3>
			<a href="#systeem" class="btn btn-success" id="startcrawler">start</a>
			<a href="#systeem" class="btn btn-fail" id="stopcrawler">stop</a>
			<p>Run at:</p>
			<div id="crontime">
				<form>
					<table>
						<tr>
							<td>Hour</td>
							<td><input type="text" name="hour"></td>
						</tr>
						<tr>
							<td>Min</td>
							<td><input type="text" name="min"></td>
						</tr>
						<tr>
							<td><a href="#systeem" class="btn btn-success" id="addtime">Add time</a></td>
						</tr>			 
				 </table>
				</form>
			</div>
			<div id="crawlsites">
				<form>
					<table>
						<tr>
							<td>Alternate <input type="checkbox" name="site" value="Alternate"></td>
						</tr>
						<tr>
							<td>Cdromland <input type="checkbox" name="site" value="Cdromland"></td>
						</tr>
					</table>
				</form>
			</div>
			
			
		</div>
		<div id="logscontainer">
			<h3>Logs</h3>
			<p id="logs">
			</p>
			<a href="#systeem" class="btn btn-success" id="stopcrawler">stop</a>
		</div>
		<a href="#systeem" class="btn" id="savesettings">Save</a>
	</div>
</div>