<div>
    <h2>Grafieken</h2>
    <h3>Gemiddelde Prijs</h3>

    <select id="grafiek" class="form-control" style="width: 150px; margin-bottom:10px; margin-left:55px;">
        <option value="0" selected>Processor</option>
        <option value="1">Voeding</option>
        <option value="2">Moederbord</option>
        <option value="3">Videokaart</option>
        <option value="4">Behuizing</option>
        <option value="5">Schijven</option>
    </select>

    <img id ="image" class="center-block" src="/img/LineChartProcessoren.jpeg">

    <h3>Aantal Bezoekers</h3>
    <img src="/img/LineChartVisitor.jpeg" class="center-block">

</div>d


<script src="/js/admin/dashboard_grafieken.js"></script>