<div class="admin-home">
	<h1>Welkom, <span data-replace="username"></span>!</h1>
	<h2>Kies een dashboard</h2>
	<div class="row">
		<div class="col-md-6">
			<a href="#adminfunctions" class="btn btn-success">
				<span class="h3">Admin dashboard</span><br />
				Hier maakt, veranderd en verwijderd u beheerders.
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" class="btn btn-success">
				<span class="h3">Filter dashboard</span><br />
				Hier veranderd u de filters die in de PC Builder worden weergegeven.
			</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<a href="#" class="btn btn-success">
				<span class="h3">Grafiek dashboard</span><br />
				Hier kunt u statistieken over de PC Builder zien.
			</a>
		</div>
		<div class="col-md-6">
			<a href="#" class="btn btn-success">
				<span class="h3">Systeem dashboard</span><br />
				Hier kunt u de crawler en logs beheren.
			</a>
		</div>
	</div>
</div>